import { defineConfig } from 'vite'
import react from '@vitejs/plugin-react'

// https://vite.dev/config/
export default defineConfig({
  ...JSON.parse(process.env.VITE_CONFIG_FROM_CORE || '{}'),
  plugins: [react()],
})
